@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

.box {
    width: 50vw;
    margin: 100px auto;
    background: #fff;
    border-radius: 7px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .3);
}

.box .heading {
    background: #78a2cc;
    border-radius: 7px 7px 0px 0px;
    padding: 10px;
    color: #fff;
    text-align: center;
    font-family: "Rubik";
}

.faqs {
    padding: 0px 20px 20px;
}

::-webkit-details-marker {
    float: right;
    margin-top: 3px;
}

details {
    background: #f6f6f6;
    padding: 10px 20px;
    border-radius: 7px;
    margin-top: 20px;
    font-family: "Rubik";
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
}

details summary {
    outline: none;
}

#menu5 {
    border-bottom: 1px solid #A7C7E7;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.links {
    max-width: 50%;
    text-align: center;
}

.links a {
    font-size: 1.3vw;
    text-decoration: none;
    line-height: 15px;
    color: #78a2cc;
}

.ham {
    z-index: 99999;
    position: relative;
    float: right;
    display: none;
}

@media only screen and (max-width: 507px) {
    #myDIV {
        width: 90vw;
        height: 50vw !important;
        background-color: white;
        font-size: 25px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        line-height: 70px;
        vertical-align: middle;
        display: none;
    }

    .tm-nav-ul a {
        color: #78a2cc !important;
    }

    .tm-nav {
        margin-top: -50px;
    }

    .ham {
        display: block;
    }

    .bar1,
    .bar2,
    .bar3 {
        width: 35px;
        height: 5px;
        background-color: #2cfaa8;
        margin: 6px 0;
        transition: 0.4s;
    }

    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }

    .change .bar2 {
        opacity: 0;
    }

    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }
}

@media only screen and (max-width: 356px) {
    .tm-nav {
        margin-top: 20px;
    }

    .tm-nav-ul {
        display: none;
    }

    .ham {
        display: block;
    }

    .bar1,
    .bar2,
    .bar3 {
        width: 35px;
        height: 5px;
        background-color: #2cfaa8;
        margin: 6px 0;
        transition: 0.4s;
    }

    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }

    .change .bar2 {
        opacity: 0;
    }

    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }
}